.App {
  font-family: sans-serif;
  text-align: center;
}

#output {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  white-space: pre-wrap;
}
#output pre {
  text-wrap: wrap;
  text-align: left;
}
.bgWrap {
  width: 100%;
  height: 200px;
  background: #ddd;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.showHtmlBtn,
.outputCSS,
.showCSSBtn {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
  line-height: 1;
}
